// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Helvetica";
$headline-font: "Helvetica";
$mono-font: "Helvetica";
$body-font-italic: "Helvetica";
/*
@font-face {
    font-family: "";
    src: url("");
    font-weight: normal;
    font-style: normal;
}
*/