.container {
	position: relative;
	width: 100vw;
	//margin-top: calc(-1 * var(--header-bar-height));
	margin-right: calc(-1 * var(--margin-left));
	margin-left: calc(-1 * var(--margin-right));

	.card {
		position: relative;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;

		.linkImage {
			display: block;
			width: 100vw;
			min-width: 100%;
			height: 50vh;

			&.single {
				height: 100vh;
			}
			@include mq($from: tablet) {
				height: 100vh;
			}
			picture {
				img {
					object-fit: cover !important;
				}
			}
		}
	}
}

.headline {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	background-color: transparent;

	&.show {
		display: none;
	}
	&.dark {
		.bubble {
			color: var(--white) !important;
		}
	}
	.bubble {
		margin-bottom: 2rem;
		border-radius: 80px;
		padding-left: 1.5rem;
		padding-right: 1.5em;
		color: var(--black);
		transition: color 0.3s;
		display: flex;
		align-items: baseline;
		max-width: calc(100% - 50px);

		@include mq($from: tablet) {
			max-width: 80%;
		}

		&:hover {
			color: var(--black);
		}

		h1,
		h3 {
			display: inline;
		}

		h1 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-style: italic;
			span {
				font-style: normal;
			}
		}

		h3 {
			padding-right: 0.5em;
			margin-bottom: 0.05em;
		}
		.link {
			line-height: 1;
			margin-left: 0.2em;
		}
	}
}
