.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  @include mq($until: tablet) {
    transition: margin-top ease 0.3s;
    margin-top: 3rem;
    &.hiddenMenu {
      margin-top: 0rem;
    }
  }
  @include mq($from: tablet) {
    height: 100vh;
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: calc(100vh - 3rem);
    @include mq($from: tablet) {
      height: 100vh;
    }
    width: 100vw;
    max-width: 100vw !important;
    > picture > img {
      object-fit: cover !important;
    }
  }
}

.hoverContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  .hoverImage {
    width: 100vw;
    height: 100vh;
    &.hide {
      display: none;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100vw;
      max-width: 100vw !important;
      @include mq($from: tablet) {
        height: 100vh;
      }
      > picture > img {
        object-fit: cover !important;
      }
    }
  }
}
