.container {
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	line-height: 0;
	overflow: hidden;

	@include mq($until: tablet) {
		transition: margin-top ease 0.3s;
		margin-top: var(--navbar-height);

		&.hiddenMenu {
			margin-top: 0rem;
		}
	}

	@include mq($from: tablet) {
		height: 100vh;
	}

	.link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: 2;
	}

	.backgroundImage {
		position: relative;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
		object-position: 50% 50%;

		&.halfHeight {
			@include mq($until: tablet) {
				height: calc(50vh - var(--navbar-height));
			}
		}
		@include mq($until: tablet) {
			height: calc(100vh - var(--navbar-height)) !important;
			//@include safari {
			//height: 100%;
			//height: -webkit-fill-available !important;
			//}
		}
		@include mq($from: tablet) {
			height: 100vh;
		}
		width: 100vw;
		max-width: 100vw !important;
	}
}

.hoverContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	z-index: 1;

	.hoverImage {
		width: 100vw;
		height: 50vh;
		opacity: 0;
		animation: fade-in 0.7s ease-out forwards;

		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		&.hide {
			display: none;
		}

		.image {
			position: absolute;
			top: var(--navbar-height);
			left: 0;
			object-fit: cover;
			min-width: 100vw;
			min-height: calc(50vh - var(--navbar-height));
			max-width: 100vw !important;
			@include mq($from: tablet) {
				top: 0;
				height: 100vh;
			}
		}
	}
}
