.footer {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  border-top: 1px solid #000;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  margin-top: 4rem;
  .next,
  .label {
    flex: 0 0 50%;
  }
  .next {
    text-transform: uppercase;
  }
}
