.footer {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  border-top: 1px solid #000;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  margin-top: 4rem;
  text-overflow: hidden;
  width: 100%;
  .next,
  .label {
    flex: 0 0 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .next {
    text-transform: uppercase;
  }
  a,
  b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
