.gallery{
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 500;
  
  .images{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    @include mq($until: desktop) {
      width: 100%;
      
    }
    .slide{
      display:flex;
      flex-direction: column;
      width:100%;
      .label{
        display:flex;
        flex: 1 1 100%;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
  .image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    overflow: hidden;
    margin-top: auto;
	  margin-bottom: auto;
    > div > img{
      transform: translateY(50%);
    }
  }
  .close{
    position:absolute;
    right:0;
    top:0;
    color:#000;
    z-index: 500;
  }
}