.main {
  @include mq($from: tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  background: $white;
  @include mq($from: tablet) {
    margin-top: -$header-bar-height;
  }
  z-index: 1000;
  padding-bottom: 7rem;
}

.meta {
  @include mq($until: tablet) {
    p {
      padding-left: 25%;
    }
    padding-bottom: 1em;
  }
  width: 50%;

  @include mq($from: tablet) {
    position: sticky;
    top: 3rem;
    width: 50%;
  }

  p:first-of-type {
    margin-top: -0.2em;
  }
}

.content {
  @include mq($from: tablet) {
    width: 50%;
  }
  p:first-of-type {
    margin-top: -0.2em;
  }

  @include mq($until: tablet) {
    header {
      display: none;
    }
  }
}
