.main {
  @include mq($from: tablet) {
    display: flex;
    align-items: flex-start;
  }
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  background: $white;
  margin-top: -100px;
  z-index: 1000;
}

.meta {
  @include mq($from: tablet) {
    position: sticky;
    top: 50px; // Temp;
    width: 50%;
  }
}

.content {
  @include mq($from: tablet) {
    width: 50%;
  }
}
