.main {
  @include mq($from: tablet) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  background: $white;

  @include mq($from: tablet) {
    &:first-of-type {
      margin-top: -$header-bar-height;
    }
  }
  z-index: 1000;
  padding-bottom: 1rem;
  @include mq($from: tablet) {
    padding-bottom: 7rem;
  }

  &.noMargin {
    padding-bottom: 0;
    @include mq($from: tablet) {
      padding-bottom: 1rem;
    }
  }
}

.meta {
  @include mq($until: tablet) {
    padding-bottom: 1em;
  }

  @include mq($from: tablet) {
    position: sticky;
    top: 3rem;
    width: 50%;
  }

  p:first-of-type {
    margin-top: -0.2em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  &.border {
    @include mq($until: tablet) {
      border-bottom: 1px solid $black;
    }
  }
}

.content {
  @include mq($from: tablet) {
    width: 50%;
  }
  p:first-of-type {
    margin-top: -0.2em;
  }
}
