$navbarHeight: 50px;

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  height: $navbarHeight;
  padding: $small-space * 2;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  white-space: pre;
  font-weight: bold;
  .hamburger {
    display: none;
    justify-content: flex-end;
    flex: 1 1;
  }
  @include mq($until: desktop) {
    width: 100%;
    padding: 0;
    padding-left: 10px;
    background-color: #fff;
    z-index: 900;
    .hamburger {
      display: flex !important;
    }
  }

  &.hide {
    @include mq($until: desktop) {
      transition: top 0.5s ease;

      top: -100vh;
    }
  }

  &.dark {
    @include mq($until: desktop) {
      background-color: #000;
    }
    * {
      color: #fff !important;
    }
  }
}

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 800;
  font-weight: 700;
  width: 100%;
  padding: $small-space * 2;
  transition: height 0.3s ease, top 0.5s ease;
  height: 0vh;

  &.hide {
    top: -100vh;
  }
  &.open {
    height: 100vh;
    @include mq($until: desktop) {
      z-index: 800;
      overflow: hidden;
      .menu {
        height: 100vh !important;
        ul {
          li {
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
  &.dark {
    * {
      color: #fff !important;
    }
    .separator {
      border-color: #fff !important;
    }
    @include mq($until: desktop) {
      .menu {
        background-color: $black;
        ul > li {
          border-bottom: 2px solid #fff;
        }
      }
    }
    &.open {
      background-color: $black;
      @include mq($until: desktop) {
        .menu {
          background-color: $black;
        }
      }
    }
  }
  &.light {
    &.open {
      background-color: #fff;
    }
  }
  &.transparent {
    background-color: transparent !important;
  }
  .separator {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 2px;
    height: 100vh;
    border: 1px solid $black;
    &.show {
      display: block;
    }
  }

  @include mq($from: desktop) {
    [role="button"] {
      display: none !important;
    }
  }
  @include mq($until: desktop) {
    width: 100%;
  }
  .menu {
    position: relative;
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    height: auto;
    a {
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: row;
      flex: 1 1 100%;
      width: 100%;
      justify-content: flex-end;

      li {
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        text-indent: 0;
        list-style-type: none;
        &.selected {
          text-decoration: underline;
        }
        &:last-child {
          margin-right: 0;
        }
        ul {
          margin-left: $small-space/2;
          li {
            border-bottom: 0px solid $black;
          }
        }
      }
    }
    .subMenu {
      position: absolute;
      top: 60px;
      left: 0px;
      display: flex;
      flex-direction: row;
      ul {
        display: none;
        flex-direction: column;
        flex: 0 0;
        li {
          margin: 0;
          padding: 0;
          margin-left: 0;
          text-indent: 0;
          list-style-type: none;
          white-space: pre;
          &.selected {
            text-decoration: underline;
          }
        }
        &.open {
          display: flex;
        }
      }
    }

    // Mobile Menu
    @include mq($until: desktop) {
      position: absolute;
      display: none;
      top: $navbarHeight;
      left: 0px;
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #fff;
      z-index: 700;
      padding-left: $small-space;
      padding-right: $small-space;
      &.show {
        display: flex;
      }
      ul {
        flex-direction: column;
        flex: 0 1;
        li {
          border-bottom: 2px solid $black;
          display: none;
          width: 100%;
          margin-left: 0rem;
          &:last-child {
            border-bottom: 0px;
          }
        }
      }
    }
  }
}
