.navbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	top: 0px;
	left: 0px;
	height: var(--navbar-height);
	padding-left: var(--margin-left);
	white-space: pre;
	font-weight: bold;
	z-index: var(--z-navbar);

	@include mq($until: desktop) {
		display: none;
	}

	.logo {
		@include mq($until: desktop) {
			padding-top: 1.2em;
			padding-bottom: 1rem;
		}
		padding-top: 2rem;
		font-size: 1.1em;
		letter-spacing: 0.02em;
		div {
			transition: color 0.3s;
		}
	}

	&.dark {
		* {
			color: var(--white);
		}
	}
}

.menuWrapper {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	font-weight: 700;
	width: 100%;
	height: 0vh;
	padding: calc(var(--small-space) * 2);
	padding-top: 2rem;
	opacity: 1;
	background-color: transparent;
	z-index: var(--z-menu-wrapper);

	@include mq($until: desktop) {
		display: none;
	}

	&.hide {
		pointer-events: none;
		opacity: 0;
	}

	&.open {
		height: 100vh;
		opacity: 1;
		background-color: var(--white);
	}

	&.dark {
		* {
			color: var(--white);
		}

		.separator {
			border-color: var(--white) !important;
		}

		&.open {
			@include mq($until: desktop) {
				.menu {
					background-color: var(--black);
				}
			}
		}
	}

	&.transparent {
		background-color: transparent !important;
	}

	.separator {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 1px;
		height: 100vh;
		border: 0.5px solid var(--black);
		&.show {
			display: block;
		}
	}

	[role="button"] {
		display: none !important;
	}

	.menu {
		position: relative;
		display: flex;
		flex: 0 0 50%;
		max-width: 50%;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		margin-top: -10px;

		&.open {
			height: calc(100vh - var(--navbar-height));
		}

		@include mq($from: tablet) {
			margin: -10px;
			margin-right: 10px;
		}

		&.opaque {
			background-color: var(--white);
			* {
				color: var(--black) !important;
			}
		}
		a {
			cursor: pointer;
		}

		> ul {
			display: flex;
			flex-direction: row;
			flex: 1 1 100%;
			width: 100%;
			height: 0;
			justify-content: flex-end;

			> li {
				cursor: pointer;
			}

			li {
				flex: 1 1 auto;
				margin: 0;
				padding: 0;
				text-indent: 0;
				list-style-type: none;

				&.selected {
					text-decoration: underline;
				}
				&:last-child {
					margin-right: 0;
				}

				span {
					.arrow {
						display: inline-block;
						transition: transform 0.2s ease;
						transform: rotate(90deg);
						&.open {
							transform: rotate(-90deg);
						}
						&.hide {
							visibility: hidden;
						}
					}
				}
				ul {
					margin-left: var(--small-space) / 2;
					border-top: 0px solid !important;
					padding-top: 1rem;

					li {
						cursor: pointer !important;

						&.selected {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.subMenu {
			position: absolute;
			top: 3rem;
			left: 0px;
			display: none;
			flex-direction: row;
			align-items: flex-start;
			max-height: calc(100vh - 6rem);
			overflow-y: scroll;
			overflow-x: hidden;
			scrollbar-width: none;

			&.show {
				display: flex;
			}

			.artists {
				display: none;
				flex-direction: column;
				width: 100%;
				padding-left: 10px;

				h3 {
					padding-bottom: 1em;
				}

				&.open {
					display: flex;

					ul {
						display: flex;
						padding-right: 2rem;
					}
				}
			}

			ul {
				display: none;
				flex-direction: column;
				flex: 0 0;

				&:first-of-type {
					padding-bottom: 2rem;
				}

				&.open {
					display: flex;
				}

				li {
					margin: 0;
					padding: 0;
					margin-left: 0;
					text-indent: 0;
					list-style-type: none;

					a {
						display: block;
						padding-bottom: 0.2em;
						margin-bottom: 0.6em;
						overflow: hidden;
						white-space: pre;
						text-overflow: ellipsis;
					}

					.arrow {
						display: inline-block;
						transition: transform 0.3s;
						&.opened {
							transform: rotate(90deg);
						}
					}

					&.selected {
						text-decoration: underline;
					}

					&.about {
						.text {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: pre;

							p {
								margin: 0;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: pre;
							}

							br {
								display: none;
							}
						}
					}

					&.more {
						padding-top: 0;

						button {
							all: unset;
							cursor: pointer;
							background-color: transparent;
							margin-bottom: 0.2rem;

							.arrow {
								display: inline-block;
								transition: transform 0.3s;
								&.opened {
									transform: rotate(90deg);
								}
							}
						}
						a {
							padding-bottom: 0.2em;
							transition: color 0.5s;
						}
					}
				}
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
