.top{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  z-index: 800;
  top:0;
  left:0;
  padding: $small-space*2;
  white-space: pre;
  font-weight: bold;
  
  @include mq($until: desktop) {
    padding:0;
    padding-left: 10px;
    background-color: #fff;
    z-index: 900;
    .hamburger{
      display: flex !important;
    }
  }
  &.hide{
    transition: top .5s ease;
    &.hide{
      top: -100%;
    } 
  }
  .hamburger{
    display: none;
    justify-content: flex-end;
    flex: 1 1;
  }
}

.container{
  position: fixed;
  top:0;
  right:0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 800;
  font-weight: 700;
  width: 60%;
  padding: $small-space*2;
  transition: top .5s ease;
  &.hide{
    top: -100%;
  }
  &.open{
    background-color: #fff;
    height: 100vh;  
    @include mq($until: desktop) {
      z-index: 800;
      .menu{
        ul{
          li{
            display: block;
          }
        } 
      }
    }
  }
  .separator{
    position: absolute;
    display: none;
    top:0;
    left:0;
    width: 2px;
    height: 100%;
    border: 1px solid #000;
    transition: margin ease;
    transition-duration: .5s;
    &.show{
      display: block;
    }
  }

  @include mq($from: desktop) {
    [role=button]{
      display: none !important;
    }
  }
  @include mq($until: desktop) {
    width: 100%;
  }
  .menu{
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    ul{
      display: flex;
      flex-direction: row;
      flex: 1 1 100%;
      width: 100%;
      justify-content: flex-end;
      li{
        flex: 1 1 auto;
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: none;
        &.selected{
          text-decoration: underline;
        }
        &:last-child{
          margin-right:0; 
        }
        // Sub menu
        ul{ 
          margin-left: $small-space/2;
          li{
            border-bottom: 0px solid #000;
          }
        }
      }
    }
    .subMenu{
      display: flex;
      flex-direction: row;
      ul{
        display: none;
        flex-direction: column;
        flex: 0 0;
        li{
          margin:0;
          padding: 0;
          margin-left:0;
          text-indent: 0;
          list-style-type: none;
          white-space: pre;
          &.selected{
            text-decoration: underline;
          }
        }
        &.open{
          display: flex;
        }
      }
    }

     // Mobile Menu
    @include mq($until: desktop) {
      position: absolute;
      top:$space;
      left:0px;
      width: 100% !important;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: #fff;
      z-index: 700;
      padding-left: $small-space;
      padding-right: $small-space;
      ul{
        flex-direction: column;
        flex: 1 1 100%;
        li{
          border-bottom: 2px solid $black;
          display: none;
          width: 100%;
          margin-left:0rem;
         
        }
      }
    }
  }
  
}
