.pageTransition {
	position: fixed;
	display: flex;
	align-items: 'flex-start';
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: var(--z-page-transition);

	.color {
		position: absolute;
		width: 100vw;
		height: 100vh;
		left: 0px;
		top: 0px;
		z-index: 2;
		overflow: hidden;
		background-color: transparent;
		pointer-events: none;

		.logo {
			position: fixed;
			display: none;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			color: var(--black);
			z-index: 2;
			object-fit: cover;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-clip: text !important;
			-webkit-background-clip: text !important;
			-webkit-text-fill-color: transparent;
			background-position: center !important;
			pointer-events: none;
			font-weight: bolder;

			&.show {
				display: flex;
			}

			&.nomask {
				-webkit-text-fill-color: var(--black);
			}

			h1 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100vw;
				height: 100vh;
				margin: 0;
				font-size: 3rem;
				letter-spacing: 0.02em;
				background-size: cover !important;

				@include mq($until: tablet) {
					font-size: 20px;
					color: var(--black);
				}
			}
		}
	}
}

.animation {
	--easing: cubic-bezier(0.4, 1.061, 0.637, 0.948);

	&.intro {
		animation: intro var(--duration) var(--easing) forwards;
		animation-delay: 1500ms;
		height: 100vh;
		top: unset;
		bottom: 0%;

		@keyframes intro {
			0% {
				height: 100vh;
			}
			100% {
				height: 0vh;
			}
		}
	}

	&.enter {
		height: 100vh;
		bottom: 0%;
		top: unset !important;
		animation: enter var(--duration) var(--easing) forwards;
		animation-delay: 150ms;

		@keyframes enter {
			0% {
				height: 100vh;
				bottom: 0%;
			}

			100% {
				height: 0vh;
				bottom: 0%;
			}
		}

		&.end {
			top: 0%;
			height: 0vh;
		}
	}

	&.instant {
		top: 0%;
		height: 0vh;
		animation: none;
		animation-delay: 0ms;
	}

	&.exit {
		height: 0vh;
		top: 0%;
		animation: exit var(--duration) var(--easing) forwards;
		//animation-delay: 100ms;

		@keyframes exit {
			0% {
				height: 0vh;
			}

			100% {
				height: 100vh;
			}
		}

		&.end {
			top: 0%;
			height: 100vh;
		}

		&.instant {
			top: 0%;
			height: 100vh;
			animation: none;
		}
	}

	&.home {
		height: 100vh;
		bottom: 0%;
		animation: home var(--duration) var(--easing) forwards;
		animation-delay: 1000ms;

		@keyframes home {
			0% {
				height: 100vh;
				bottom: 0%;
			}
			100% {
				height: 0vh;
				bottom: 0%;
			}
		}
	}

	&.blank {
		height: 0vh;
		top: 0%;
		animation: none;
		animation-delay: 0ms;
	}
}
