.container {
  position: fixed;
  display: flex;
  align-items: 'flex-start';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2000;
  .color {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 400;
    background-color:#000;
    .logo {
      position: fixed;
      min-width: 100vw;
      min-height: 100vh;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      color: #fff;
      
      z-index: 500;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background-position: center !important;
      pointer-events: none;
      font-weight: bolder;
      
      h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 40px;
        @include mq($until: desktop) {
          font-size: 20px;
        }
      }
      .title {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 2;
        @include mq($until: desktop) {
          font-size: 20px;
        }
      }
      &.active {
        height: 100vh;
      }
      &.hide {
        display: none !important;
      }
    }
  }
}