.pressLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -1rem;
  div {
    flex: 0 0 33.3333%;
    margin-bottom: 1rem;
    padding-right: 1em;
    @include mq($until: tablet) {
      flex: 0 0 50%;
    }
    h3 {
      white-space: pre;
    }
  }
}
