.privacy {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	color: var(--white);
	z-index: var(--z-privacy-modal);

	.wrap {
		max-height: calc(100vh);
		overflow-y: auto;
		padding: var(--space);

		@include mq($until: tablet) {
			padding: var(--small-space);
		}

		h1 {
			margin-bottom: var(--small-space);
		}
	}

	.close {
		position: absolute;
		right: 3vw;

		@include mq($until: tablet) {
			top: 0;
			right: 0;
		}

		top: 3vw;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 48px;
		width: 48px;
		color: #000;
		z-index: 1;
		cursor: pointer;
		color: var(--white);
		font-size: 2rem;
	}
}
