.artworks {
  width: 100%;

  h2 {
    width: 100%;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    figure {
      width: 25%;
      padding-right: 3%;
    }
  }
}

.pressLinks {
  display: flex;

  div {
    width: 50%;
  }
}
