.artworks {
  width: 100%;

  h2 {
    width: 100%;
  }

  .gallery {
    display: inline-grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 2.6667%;
  }
}

.pressLinks {
  display: flex;

  div {
    width: 50%;
  }
}
