$slideSpeed: 1.5s;

.container {
	width: 100vw;
	.backgroundImage {
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 0;
		height: 100vh;
		width: 100vw;
		max-width: 100vw !important;
		> picture > img {
			object-fit: cover !important;
		}
	}
	.card {
		position: relative;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		.linkImage {
			display: block;
			width: 100vw;
			min-width: 100vw;
			height: 100vh !important;
			picture {
				img {
					object-fit: cover !important;
				}
			}
		}
	}
}

.headline {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 200;
	bottom: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	background-color: transparent;
	color: #fff;
  &.hide{
    display: none;
  }
	.bubble {
		text-transform: uppercase;
		margin-bottom: 60px;
		border-radius: 80px;
		background-color: #fff;
		padding: 20px;
		color: #000;
    max-width: 80%;
		.category {
			font-size: 1em;
		}
		.title {
			font-size: 1.2em;
		}
	}
}
