$slideSpeed: 1.5s;

.container {
	width: 100vw;
	.backgroundImage {
		position: fixed !important;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100vw;
		max-width: 100vw !important;
		height: 70vh;
		@include mq($from: tablet) {
			height: 100vh;
		}
		> picture > img {
			object-fit: cover !important;
		}
	}
	.card {
		position: relative;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		.linkImage {
			display: block;
			width: 100vw;
			min-width: 100vw;
			height: 50vh;
			@include mq($from: tablet) {
				height: 100vh;
			}
			picture {
				img {
					object-fit: cover !important;
				}
			}
		}
	}
}

.headline {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	text-align: center;
	background-color: transparent;
	color: #fff;
	&.show {
		display: none;
	}
	.bubble {
		margin-bottom: 2rem;
		border-radius: 80px;
		//background-color: #fff;
		padding-left: 1.5rem;
		padding-right: 1.5em;
		color: #000;
		transition: color 0.3s;
		display: flex;
		align-items: baseline;
		max-width: calc(100% - 50px);

		@include mq($from: tablet) {
			max-width: 80%;
		}

		&:hover {
			color: $black !important;
		}

		h1,
		h3 {
			display: inline;
		}

		h1 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-style: italic;
			span {
				font-style: normal;
			}
		}

		h3 {
			padding-right: 0.8em;
			margin-bottom: 0.05em;
		}
		.link {
			line-height: 1;
			margin-left: 0.2em;
		}
	}
}
