@font-face {
	font-family: 'Protokoll';
	src: url('../public/fonts/ProtokollMedium-Web.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Protokoll';
	src: url('../public/fonts/ProtokollMedium-Italic-Web.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Protokoll';
	src: url('../public/fonts/ProtokollBold-Web.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Protokoll';
	src: url('../public/fonts/ProtokollBold-Italic-Web.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}
